/*@import url(font-awesome.css);*/
/*@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    background: #fff;
    overflow-x: hidden;
    scrollbar-face-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
}

.my_container nav{
    padding-top: 1em;
}

.jumbotron {
    background-image: linear-gradient(135deg, rgba(19, 93, 117, 0.8), rgba(19, 93, 117, 0.4), rgba(19, 93, 117, 0.1)), url("../Images/recruitment.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    height: 500px;
}

.jumbotron > .my_container {
    padding-top: 2em;
    height: 80%;
    line-height: 25px;
    letter-spacing: 1px;
}

.test {
    border: 2px solid red;
}

.input-group {
    margin-bottom: 1em;
    
}

#hero .input-group input {
    width: 100%;
   
}

.jumbotron button {
    width: 200px;
}

.jumbotron form {
    width: 100%;
}

[class*="prepend"] .fa {
   
    font-size: 20px;
}