@{
    ViewBag.Title = "Home Page";
}

    <div id="hero" class="jumbotron d-flex align-items-center">
        <div class="my_container d-flex flex-column justify-content-around align-items-center">
            <div class="intro d-flex flex-column align-items-center">
                <h1>Find Job</h1>
                <p class="lead text-center">Wisest Job Board is the leading global recruitment agency, specializing in matching talents with job oppurtunities.</p>
            </div>
            @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
            <form class="d-flex flex-column flex-sm-column flex-md-column flex-lg-row align-content-lg-center mt-3">
                <div class="input-group d-flex justify-content-center mb-2 my-lg-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-primary"><i class="fa fa-keyboard"></i></span>
                    </div>
                    <input type="text" class="" placeholder="job title, keyword or company name" />
                </div>

                <div class="input-group d-flex justify-content-center mb-2 my-lg-0">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-primary"><i class="fa fa-keyboard"></i></span>
                    </div>
                    <input type="text" class="" placeholder="preferred location" />
                    @*<div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>*@
                </div>
                <button type="button" class="btn btn-primary mx-auto"><i class="fa fa-search"></i></button>

            </form>

            <p>Browse job offers by <span>category</span> or <span>location</span></p>

        </div>   
    </div>

    <div id="categories">
        <div class="my_container row flex-column mx-auto">
            <h2 class="text-center my-4">Popular Categories</h2>
            <div class="categories_cards d-flex flex-wrap justify-content-between">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-laptop-code"></i>
                        <h3 card-title>Software Development</h3>
                        <a href="#" class="card-link">90</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-clinic-medical"></i>
                        <h3 card-title>Healthcare/Medcine</h3>
                        <a href="#" class="card-link">40</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-bus"></i>
                        <h3 card-title>Transportation/Logistics</h3>
                        <a href="#" class="card-link">60</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-wrench"></i>
                        <h3 card-title>Construction/Engineering</h3>
                        <a href="#" class="card-link">40</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-chalkboard-teacher"></i>
                        <h3 card-title>Learning/Education</h3>
                        <a href="#" class="card-link">60</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-gas-pump"></i>
                        <h3 card-title>Oil and Gas</h3>
                        <a href="#" class="card-link">70</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-coins"></i>
                        <h3 card-title>Finance/Accounting</h3>
                        <a href="#" class="card-link">65</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-utensils"></i>
                        <h3 card-title>Food/Restaurant</h3>
                        <a href="#" class="card-link">75</a>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Browse All Categories</button>
        </div>
    </div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@